@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

body {
    border-top: 10px solid #C4DEFF;
    font-family: 'Jua', sans-serif; /* 폰트 적용 */
}

/* index : 질문 목록 */
li a {
    font-size: 23px;
    color: #8EA8DB;
}

/* detail : 질문 제목 */
h1 {
    color: #8EA8DB;
    margin-left: 20px;
}

h3 {
    color: #8EA8DB;
    margin-top: 15px;
}

.all_results_button {
    margin-right: 100px;
    margin-bottom: 20px;
}

/* detail : Choice 항목 */
input[type="radio"] {
    margin-left: 25px;
}

label {
    font-size: 20px;
    color: #466093;
    margin-left: 10px;
}

/* detail : Vote, Re-select the question? 버튼 */
input[type="submit"] {
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #344E81;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    margin-left: 20px;
    padding: 5px 8px;
    float: left;
}

/* index : Do you want to see the results of all the questions? 버튼 */
#gotoAllResults {
    font-size: 20px;
    margin-left: 15px;
    padding: 4px 7px;
}

/* detail : Re-select the question? 버튼 */
#gotoIndex {
    margin-left: 10px;
    padding: 7px 10px;
}

/* results : 투표 결과 */
ul li {
    font-size: 20px;
    color: #1F50B5;
}

/* results : 하이퍼링크가 연결된 text(Vote again?, Re-select the question?) */
a {
    font-size: 18px;
    color: #494693;
    margin-left: 15px;
}

/* 페이징 기능 */
.pagination {
    margin-top: 40px;
}